<div class="col-md-12">
  <div class="group">
    <span class = "pull-right">
      <% if current_user && current_user.is_member_of?(@group) %>
        <label class = "label label-success"> 流域之民 </label>
        <%= link_to("退出流域", quit_group_path(@group), method: :post, class: "btn btn-default") %>
      <% else %>
        <label class = "label label-warning"> 不速之客 </label>
        <%= link_to("加入流域", join_group_path(@group), method: :post, class: "btn btn-default") %>
      <% end %>
    </span>
    <%= link_to("放条鱼", new_group_post_path(@group), class: "btn btn-default pull-right")%>
    <% if current_user && current_user == @group.user %>
      <%= link_to("治河", edit_group_path(@group), class: "btn btn-primary pull-right") %>
    <% end %>
  </div>
  <h2> <%= @group.title %> </h2>
  <p> <%= render_group_description(@group) %> </p>
  <table class = "table">
    <thead>
      <tr>
        <th>什么鱼</th>
        <th>投放者</th>
        <th>入水时间</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "post_item", :collection => @posts, :as => :post %>
    </tbody>
  </table>
  <div class="text-center">
    <%= will_paginate @posts %>
  </div>
</div>
